Hello <%= @user.first_name %>,</h1>

You created a Product

Title: <%= @product.title %>
Description: <%= @product.description %>
Price: <%= @product.price %>

Click <%= link_to "Here", product_url(@product) %> to view your product.

Regards,

Amazon Team
