<%= @product.errors.full_messages.join(', ') %>
<%= form_for @product do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div><br>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div><br>
  <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div><br>
  <div>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => true %>
  </div><br>
  <div class="form-group">
    <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name,
    {},
    { multiple: true, class: 'chosen-select', style: 'width: 400px' }  %>
</div><br>

  <%= f.submit %>
<% end %>
