<h1><%= @product.title %></h1>
<p>Description: <%= @product.description %></p>
<p>Price: $<%= sprintf('%.2f', (@product.price)) %></p>

<%= link_to 'New Product', new_product_path  %>

<%= link_to 'Edit', edit_product_path(@product) %>

<%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>
