<html>
  <head>
    <title>Amazon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    |
    <%= link_to "About Us", about_path %>
    |
    <%= link_to "Contact Us", contact_path %>
    |
    <%= link_to "All Products", products_path %>
    |
    <%= link_to "Sign Up", new_user_path %>
    |
    <%= link_to "Login", new_session_path %>
    |
    <%= link_to "Logout", sessions_path, method: :delete, data: { confirm: 'For Real Dawg?' } %>
    <hr>
    <%= yield %>
  </body>
</html>
